{% extends 'base.html.twig' %}

{% block title %}Adherant index{% endblock %}

{% block body %}
    <h1>Adherant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>IsVerified</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>DateDeNaissance</th>
                <th>Sexe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adherant in adherants %}
            <tr>
                <td>{{ adherant.email }}</td>
                <td>{{ adherant.roles ? adherant.roles|json_encode : '' }}</td>
                <td>{{ adherant.isVerified ? 'Yes' : 'No' }}</td>
                <td>{{ adherant.nom }}</td>
                <td>{{ adherant.prenom }}</td>
                <td>{{ adherant.dateDeNaissance ? adherant.dateDeNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ adherant.sexe }}</td>
                <td>
                    <a href="{{ path('app_adherant_show', {'id': adherant.id}) }}">show</a>
                    <a href="{{ path('app_adherant_edit', {'id': adherant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_adherant_new') }}">Create new</a>
{% endblock %}
