{% extends 'base.html.twig' %}

{% block title %}Mail index{% endblock %}

{% block body %}
<div class="mailIndex">
    <h1 class="title title--h1">Historique des mails</h1>
    <div class="mailIndex__btns">
        <a href="{{ path('app_userlanding') }}" class="bouton bouton--primary">Retour</a>
        <a href="{{ path('app_mail_new') }}" class="bouton bouton--primary">Nouvelle information</a>
    </div>
    <div class="mailIndex__all">
        {% for mail in mails %}
            <a href="{{ path('app_mail_show',{'id' : mail.id}) }}">
                <div class="mail">
                    <div class="mail__date">{{mail.sendAt ? mail.sendAt|date('d / M / Y') : '' }}</div>
                    <div class="mail__sujet">{{mail.sujet}}</div>
                </div>
            </a>
        {% else %}
            <div class="mail__noMail">Aucun mail n'as encore été écris</div>
        {% endfor %}
    </div>
</div>


{% endblock %}
